# <ul>
#   <% @listings.each do |listing| %>
#     <li>Description: <%=listing.description%> Price per night: <%=listing.price%></li>
#     <li>Location: <%=listing.location%> Available: <%=listing.dates_available%></li>
#     <li>Owner: <%=listing.owner_name%> Contact details: <%=listing.contact_details%></li>
#   <% end %>
# </ul>